@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;600;700;800;900&family=Varela+Round&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    padding: 0 16vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.75em 0;
}

nav a, footer a, nav a:visited, footer a:visited {
    text-decoration: none;
}

.logo {
    font-family: 'Varela Round', sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.links a {
    color: black;
    font-size: .75em;
    font-weight: 700;
    padding-left: 1.25em;
    text-decoration: none;
}

.registrationButtons {
    display: flex;
    align-items: center;
}

.registrationButtons a button:first-child {
    color: black;
    background-color: white;
    border: none;
    font-weight: 700;
    font-size: .75em;
    padding-right: 20px;
}

.registrationButtons a:last-child button, .heroText button, .secondCta button, form button {
    color: white;
    background-color: black;
    font-weight: 700;
    border-radius: 50px;
    border: black;
    padding: .5625em 1.25em;
    font-size: .75em;
}

.hamburgerMenuIcon {
    display: none;
    opacity: 0;
}

.menu {
    position: absolute;
    right: 14vw;
    top: 4em;
    width: 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: .5rem;
    padding: 2em 0;
    transition: all ease-in 0.5s;
}

.menuToggle {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 1em 0;
    font-size: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 1.25em 16vw;
}

.reverseLogo {
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-decoration: none;
}

.columns2 {
    display: flex;
    align-items: center;
    margin-bottom: 15%;
}

.heroText h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.375em;
    font-weight: 600;

}

.heroText h1 span {
    font-weight: 800;
}

.heroText p {
    font-weight: 300;
}

.center {
    text-align: center;
}

.center h1 {
    font-weight: 900;
    padding-bottom: .625em;
}

.center .firstParagraph {
    padding: 0 9.375em;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: .75em;
}

.grid {
    display: flex;
    padding: 7% 0;
    margin-bottom: 5%;
}

.gridItem {
    padding: 0 .5em;
}

.grid img {
    width: auto;
    height: 2.5em;
}

.grid p {
    font-size: .75em;
}

.columns2 h3 {
    font-weight: 600;
    font-size: 1.75;
    font-family: 'montserrat', sans-serif;
}

.columns2 h3 span {
    font-weight: 800;
}

.subHeadingText:first-of-type:first-child {
    padding-right: 10%;
}

.columns2 .subHeadingText p {
    font-weight: 300;
}

.columns2 .marginRight {
    margin-right: 20%;
}

.columns2 .marginLeft {
    margin-left: 10%;
}

.boldFont {
    font-weight: 900;
    font-size: 1.5em;
}

.secondaryCta {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.secondaryCta img {
    width: 15px;
    height: auto;
    padding-left: .4375em;
}

.secondCta {
    text-align: center;
    background-color: #8469f3;
    padding: 3% 0;
    color: white;
}

.secondCta h4 {
    font-family: 'montserrat';
    font-weight: 400;
    font-size: 1.125em;
    margin-bottom: 0;
}

.secondCta h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.footerLinks a{
    color: white;
    font-size: .75em;
    padding-left: 1.25em;
    text-decoration: none;
}

@media (max-width: 450px) {
    body {
        font-size: 12px;
    }
    .container {
        padding: 0 4vw;
    }
    footer {
        padding: 1.25em 4vw;
    }
    .resizeRatingImg {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .links a {
        display: none;
    }
    .registrationButtons {
        display: none;
    }
    .hamburgerMenuIcon {
        opacity: 100;
        display: flex;
    }
}


@media (max-width: 956px) {
    .columns2, .grid {
        flex-direction: column;
        align-items: center;
    }
    section {
        padding: .5em 0;
    }
    .heroImg {
        height: 20em;
        width: auto;
    }
    .heroText {
        padding: 0 4em;
    }
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .center .firstParagraph {
        padding: 0 6em;
    }
    .subHeadingText {
        margin-bottom: 1em;
    }
    .scaleImg {
        height: 15em;
        width: auto;
        padding-left: 12em;
    }
    .colorPink {
        background-color: #FEF8F8;
    }
    .addPadding {
        padding: 0 4em;
    }
    .addPaddingTB {
        padding: 4em 0;
    }
    .subHeadingText.second h3, .subHeadingText.second p{
        text-align: right;
    }
    .subHeadingText.second button {
        padding-left: 1.5em;
    }
}

@media (min-width: 1500px) {  
    body {
        font-size: 20px
    }
}

@media (min-width: 1800px) {  
    body {
        font-size: 24px
    }
    .container {
        padding: 0 24vw;
    }
    footer {
        padding: 1.25em 24vw;
    }
}